<a href="https://colab.research.google.com/github/lucasjustel30/BancoDeDados.py/blob/main/Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Dictionary into dataframe

In [9]:

data = {
    'Team': ['Sportivo','Porteno','San Martin','Almagro','Riachuelo','Alumni'],
    'National': [36,41,16,15,19,10],
    'Continental':[7,5,8,1,2,1], 
    'Intercontinental':[3,1,2,0,1,1] 
}

df = pd.DataFrame(data)

print(df)

         Team  National  Continental  Intercontinental
0    Sportivo        36            7                 3
1     Porteno        41            5                 1
2  San Martin        16            8                 2
3     Almagro        15            1                 0
4   Riachuelo        19            2                 1
5      Alumni        10            1                 1

csv into dataframe

In [33]:

dados = pd.read_csv('dados.txt')

dados.drop(['posicao'], axis = 1, inplace = True)

print(dados)

    acao       setor
0  PETR4   commodity
1  VALE3   commodity
2  BBSE3  seguradora
3  ENBR3     energia
4  CPLE6     energia
5  BBAS3       banco

In [18]:

print(df[['Team','Continental']])

         Team  Continental
0    Sportivo            7
1     Porteno            5
2  San Martin            8
3     Almagro            1
4   Riachuelo            2
5      Alumni            1

In [40]:

dados = pd.read_csv('dados.txt')

df1 = pd.DataFrame(dados)

df1.drop(['acao'], axis=1)

print(df1)

    acao  posicao       setor
0  PETR4     12.9   commodity
1  VALE3      9.1   commodity
2  BBSE3      7.8  seguradora
3  ENBR3      7.6     energia
4  CPLE6      6.0     energia
5  BBAS3      5.3       banco

In [48]:

dados = pd.read_csv('dados.txt')

df2 = pd.DataFrame(dados)

df2.drop([0], axis=0, inplace = True)

print(df2)

    acao  posicao       setor
1  VALE3      9.1   commodity
2  BBSE3      7.8  seguradora
3  ENBR3      7.6     energia
4  CPLE6      6.0     energia
5  BBAS3      5.3       banco

In [94]:

dados = pd.read_csv('dados.txt')

df3 = pd.DataFrame(dados)

new_df3 = df3.append({'acao': 'SAPR11','posicao': 5.1,'setor':'saneamento'},ignore_index='TRUE')

print(new_df3)

     acao  posicao       setor
0   PETR4     12.9   commodity
1   VALE3      9.1   commodity
2   BBSE3      7.8  seguradora
3   ENBR3      7.6     energia
4   CPLE6      6.0     energia
5   BBAS3      5.3       banco
6  SAPR11      5.1  saneamento

In [106]:

dados = pd.read_csv('dados.txt')

df4 = pd.DataFrame(dados)

new_df4 = df4.append({'acao': 'SAPR11','posicao': 5.1 ,'setor':'energia'},
                     ignore_index='TRUE')

new_df4 = df4.append({'acao': 'SHUL4','posicao': 4.9 ,'setor':'industria'},
                     ignore_index='TRUE')

print(new_df4)

    acao  posicao       setor
0  PETR4     12.9   commodity
1  VALE3      9.1   commodity
2  BBSE3      7.8  seguradora
3  ENBR3      7.6     energia
4  CPLE6      6.0     energia
5  BBAS3      5.3       banco
6  SHUL4      4.9   industria

In [119]:

dados = pd.read_excel('dados.xlsx')

df = pd.DataFrame(dados)

df_new = df.append({'Portfolio' : 'SAPR11' , 'Percentage': 5})

print(df_new)

TypeError: ignored