<a href="https://colab.research.google.com/github/lucasjustel30/BancoDeDados.py/blob/main/Filtros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [186]:

import numpy as np
import pandas as pd
import random

In [19]:


lib = {
    'times' : ['Ipiranga' , 'Bandeirantes' ,  'Brooklin'],
    'nacionais' : [12,7,9],
    'continentais' : [2,4,3]
}

df = pd.DataFrame(lib)

print(df)

          times  nacionais  continentais
0      Ipiranga         12             2
1  Bandeirantes          7             4
2      Brooklin          9             3

In [84]:


lib = {
    'times' : ['Ipiranga' , 'Bandeirantes' ,  'Brooklin' , 'America'],
    'nacionais' : [12,7,9,8],
    'continentais' : [2,4,3,5],
    'mundiais' : [2,3,0,2]
}

df = pd.DataFrame(lib)

df.sort_values(by= ['mundiais'] ,inplace=True)

df.iloc[1:2]

      times  nacionais  continentais  mundiais
0  Ipiranga         12             2         2

In [195]:


lib = {
    'times' : ['Ipiranga' , 'Bandeirantes' ,  'Brooklin','America'],
    'nacionais' : [12,7,9,8],
    'continentais' : [2,4,3,5],
    'mundiais' : [2,3,0,2],
}

df = pd.DataFrame(lib)

df.loc[1:2]

          times  nacionais  continentais  mundiais
1  Bandeirantes          7             4         3
2      Brooklin          9             3         0

In [188]:

lib = {
    'times' : ['Ipiranga' , 'Bandeirantes' ,  'Brooklin','America'],
    'nacionais' : [12,7,9,8],
    'continentais' : [2,4,3,5],
    'mundiais' : [2,3,0,2],
}

df = pd.DataFrame(lib)

df.iloc[1:3]

          times  nacionais  continentais  mundiais
1  Bandeirantes          7             4         3
2      Brooklin          9             3         0

In [149]:

df = pd.read_csv('data.txt')

df.loc[0:2 , ['acao','setor']]

    acao       setor
0  PETR4   commodity
1  BBAS3       banco
2  BBSE3  seguradora

In [167]:

df.iloc[0:3,0:3]

    acao  posicao       setor
0  PETR4    12.90   commodity
1  BBAS3    11.84       banco
2  BBSE3    10.23  seguradora

In [169]:

df[df['posicao']>10.0]

    acao  posicao       setor
0  PETR4    12.90   commodity
1  BBAS3    11.84       banco
2  BBSE3    10.23  seguradora

In [170]:


df.query('posicao < 8')

    acao  posicao    setor
6  ITUB4     7.36    banco
7  CPLE6     6.36  energia

In [175]:

df.query('setor == "commodity" ')

    acao  posicao      setor
0  PETR4    12.90  commodity
3  VALE3     9.44  commodity

In [179]:

df.query('setor != "commodity" ')

     acao  posicao       setor
1   BBAS3    11.84       banco
2   BBSE3    10.23  seguradora
4   ENBR3     9.34     energia
5  SANB11     8.76       banco
6   ITUB4     7.36       banco
7   CPLE6     6.36     energia

In [183]:

df.query('setor !=  "banco"  & posicao > 10')

    acao  posicao       setor
0  PETR4    12.90   commodity
2  BBSE3    10.23  seguradora

In [187]:

df['setor'].value_counts()

banco         3
commodity     2
energia       2
seguradora    1
Name: setor, dtype: int64