<a href="https://colab.research.google.com/github/lucasjustel30/BancoDeDados.py/blob/main/Random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd  
import random

In [ ]:

num = random.random()

num_new = round(num,2)

print(num_new)

0.11

In [ ]:


list = random.sample(range(10,30),5)

print(list)

[18, 25, 13, 21, 12]

In [ ]:

x = np.random.randint(0,100,10)

print(x)

[12 86 82 67 92 95 20 10  8 89]

In [124]:

print(random.randrange(10, 20, 5))

15

In [ ]:


randomlist = []
for i in range(0,5):
  n = random.randint(1,30)
  randomlist.append(n)
print(randomlist)

[6, 10, 17, 10, 6]

In [120]:

x = [1,2,3,4,5,6,7,8,9,10]

random.shuffle(x)

print(x)

[10, 2, 1, 5, 6, 9, 8, 7, 3, 4]

In [121]:

print(random.choices([1,2,3,4,5,6,7,8,9,10], k=3))

[1, 5, 4]

In [ ]:

data = pd.DataFrame(np.random.randint(0, 10, size=(5, 3)), columns=['A', 'B', 'C'])

print(data)

data.corr()

   A  B  C
0  6  6  0
1  7  2  3
2  5  4  2
3  4  3  7
4  9  0  0

          A         B         C
A  1.000000 -0.639362 -0.694738
B -0.639362  1.000000 -0.038808
C -0.694738 -0.038808  1.000000